apiVersion: v1
kind: Secret
metadata:
  name: dvmd-secrets
  namespace: dvmd
type: Opaque
stringData:
  DVMD_SMTP_USER: ""
  DVMD_SMTP_PASSWORD: ""
  DVMD_SMTP_FROM_EMAIL: ""
  NEW_RELIC_LICENSE_KEY: ""
  NEW_RELIC_CLUSTER_NAME: "dvmd-local"

